[MESSAGES CONTROL]
disable=
    C0114,  ; Missing module docstring
    C0115,  ; Missing class docstring
    C0116   ; Missing function or method docstring

[FORMAT]
max-line-length=100

[DESIGN]
max-args=5
max-locals=15
max-branches=12
max-statements=50

[SIMILARITIES]
min-similarity-lines=4  ; Número mínimo de linhas para considerar como duplicado
