pygame
twilio
pyautogui
pyaudio
selenium
spotipy
SpeechRecognition
requests
pluggy
pytest
iniconfig
noisereduce
gtts
numpy
redis
urllib3
idna
certifi
joblib
tqdm
scipy
pylint
python-dotenv
pycaw
pytest
pytest-mock
PySide6>=6.5.0
xvfbwrapper>=0.2.9  
pycaw>=20230420  